<toolbar title="100 Angular Challenges">
    <ul>
        <li>Components</li>
        <li>Directives</li>
        <li>Services</li>
        <li>Pipes</li>
        <li>Other</li>
    </ul>
</toolbar>
<card title="Card" subTitle="Component" iconClasses = "fas fa-info-circle">
    <div class="body">Body Content</div>
    <div class="footer">Footer Content</div>
</card>
<progress-bar 
    title="Progress"
    subTitle = "Component"
    start="25" 
    stop="100">
</progress-bar>
<accordion 
    title="Accordion"
    subTitle = "Component"
    [items] = "this.accordionItems">
</accordion>
<star-rating
    title="Star Rating"
    subTitle = "Component"
    rating=3.5>
</star-rating>